html, body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 600;
    background-color: #B4C5E4;
    color: #3C3744;
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 150px;
    margin: 0 auto;
}

input {
    color: #3C3744;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

button {
    color: #FDFDFD;
    background-color: #3D52D5;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
}

button:hover {
    background-color: #090C9B;
}

ul {
    float: none;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

ul li {
    /*
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
    */
    background-color: #FFFDF8;
    padding: 15px;
    flex-grow: 1;
    border-radius: 8px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    cursor: pointer;
}

ul li:hover{
    background-color: #fbfff1;
}